div {
    padding-top:20px;
    padding-bottom: 500px;
    width: 200px;
    text-align:center;
    float:right;
    background-color: rgb(175, 175, 175);
    border-radius: 20px;

}

img {
    width: 100px;
}

#coin {
    width:17px;
}

.available {
    border: 5px solid rgb(0, 255, 0);
}

