#sidebar {
   padding-top: 20px;
   padding-bottom: 500px;
   width: 200px;
   text-align: center;
   float: right;
   background-color: rgb(175, 175, 175);
   border-radius: 20px;
}

#taxesModal {
   display:none;
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.7);
}

#competitionModal {
   display:none;
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.7);
}

.modal-content {
   overflow-y: scroll;
   background: rgb(255, 255, 255);
   width: 400px;
   height: 500px;
   border-radius: 5px;
   text-align: center;
   margin: 5% auto;
   padding-bottom: 20px;
}

img {
   width: 40px;
}
#restaurant {
   width: 100px;
   margin:0px;
   padding: 0px;
}




.available {
   border: 5px solid rgb(0, 255, 0);
}

.alert {
   text-align: center;
}

#inventory {
   border:2px solid black;
   overflow-y: scroll;
   background:white;
}

#buy {
   margin:0px;
   width:100px;
}
